@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root{
    --primary-color : white;
    --secondary-color : black;
}

html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    padding: 0%;
    margin: 0%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-family: 'Comfortaa'; */
    background-color: var(--primary-color);
    /* color: var(--primary-color); */
}

.headers{
    display: flex;
    flex-flow: column;
    padding: 1rem;
}

.dropbtn{
    background-color: #00BFA6;
    border-radius: 50%;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.fa-chevron-circle-down{
    font-size: 48px;
}

.fa-chevron-circle-down:hover{
    transform: rotate(180deg);
}

.dropdown{
    position: relative;
    display: inline-block;
    width: max-content;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: var(--primary-color);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #00BFA6;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #00BFA6;
}

.headings{
    display: flex;
    flex-flow: column;
    align-items: center;
    animation: slideInUp;
    animation-duration: 3s;
    color: white;
}

.intro{
    animation: slideInLeft;
    animation-duration: 3s;
    padding: 4rem;
    padding-top: 10rem;
}

.introduction{
    display: inline-block;
    font-family: 'Lucida Sans','Comfortaa', 'Pattaya', 'Fredoka One', 'Pacifico', 'Courier New', Courier, monospace;
    font-size: 48px;
}

.introduction p{
    font-size: 20px;
    line-height: 18px;
    font-style: oblique;
}

.name{
    color: #00BFA6;
}

.know-more{
    padding-top: 2rem;
}

.know-more button{
    width: 240px;
    height: 48px;
    font-size: 32px;
    background-color: var(--primary-color);
    border: 4px solid #00BFA6;
    color: #00BFA6;
    cursor: pointer;
}

.know-more button:hover{
    background-color: #00BFA6;
    color: white;
}

.complete-info{
    background-color: #00BFA6;
    display: flex;
    flex-flow: column;
}

.resume{
    animation: slideInUp;
    animation-duration: 3s;
    padding: 60px;
    display: flex;
    flex-direction: column;
    flex-flow: row;
}

.profile-pic{
    border-radius: 10px;
    padding: 10px;
    width: fit-content;
    height: fit-content;
}

.profile-pic img{
    width: 60%;
    height: 60%;
    border-radius: 50%;
}

.myself{
    width: fit-content;
    color: white;
    text-align: justify;
    font-size: 18px;
    padding: 5%;
}

.my-resume{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-top: 20px;
    cursor: pointer;
}

.my-resume a[href]{
    text-decoration: none;
    color: white;
    line-height: 36px;
    width: 200px;
    height: 36px;
    border: 2px solid white;
    text-align: center;
}

.my-resume a[href]:hover{
    color: #00BFA6;
    background-color: var(--primary-color);
    font-weight: bold;
}

.skills, .certifications{
    display: flex;
    flex-flow: row;
    justify-content: center;
    padding: 1%;
    transform: skewY(3deg);
}

.my-skill, .my-certificate{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.content{
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
}

.content img{
    width: 200px;
    height: 250px;
    padding: 15px;
}

.refer{
    margin-top: 12px;
    text-align: center;
}

.fa-laptop-code, .fa-project-diagram, .fa-file-code{
    color: #00BFA6;
    font-size: 120px;
    margin: auto;
}

.projects{
    display: flex;
    flex-flow: column;
    background-color: var(--primary-color);
    transform: skewY(-3deg);
}

.projects h1{
    padding-top: 100px;
    color: #00BFA6;
    text-align: center;
    transform: skewY(3deg);
}

.my-project{
    display: flex;
    flex-flow: row;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    transform: skewY(3deg);
}

.my-project img{
    width: 70%;
}

.project-details {
    width: max-content;
    padding: 40px;
}

.my-project h3{
    text-align: center;
    color: #00BFA6;
}

.my-project p{
    text-align: justify;
    max-width: 350px;
}

.project-details a[href], .card-body a[href]{
    text-decoration: none;
    color: #00BFA6;
    width: 250px;
    height: 36px;
    border: 2px solid #00BFA6;
    padding: 15px;
}

.project-details a[href]:hover, .card-body a[href]:hover{
    background-color: #00BFA6;
    color: white;
    cursor: pointer;
}

.contact{
    margin: auto;
    width: max-content;
    color: white;
}

.contact a[href]{
    text-decoration: none;
    color: white;
}

.fa-github, .fa-linkedin, .fa-envelope-open-text, .fa-twitter{
    font-size: 5rem;
    padding: 30px;
    animation: slideInUp;
    animation-duration: 6s;
}

.fa-angle-up{
    font-size: 3.5rem;
}

.fa-github:hover, .fa-linkedin:hover, .fa-envelope-open-text:hover, .fa-twitter:hover, .fa-angle-up:hover{
    color: black;
    cursor: pointer;
}

.device-specific{
    display: none;
}

.device-specific a[href]{ 
    text-decoration: none;
    padding: 10px;
    color: #00BFA6;
    background-color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

.device-specific a[href]:hover{    
    color: white;
    background-color: #00BFA6;
}

.cell{
    display: flex;
    flex-flow: column;
    align-items: center;
}

.go-up {
    display: flex;
    flex-flow: column;
    align-items: center;
    font-size: 24px;
}

@media(max-width:800px){
    .introduction{
        font-size: 1.3rem;
    }

    .introduction p{
        font-size: 12px;
    }

    .device-specific{
        display: flex;
        flex-flow: column;
        align-items: center;
        border: 2px solid #00BFA6;
    }

    .resume{
        flex-flow: column;
    }

    .myself{
        font-size: 0.8rem;
    }

    .profile-pic{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .my-resume{
        display: flex;
        flex-flow: column;
        align-items: center;
    }

    .skills, .certifications{
        flex-flow: column;
        align-items: center;
    }

    .content img{
        width: 100%;
    }

    .my-project img{
        width: 100%;
    }

    .my-resume{
        width: 100%;
    }

    .my-resume a[href]{
        width: 70%;
    }

    .project-details{
        display: none;
    }

    .fa-github, .fa-linkedin, .fa-envelope-open-text, .fa-twitter{
        font-size: 3rem;
        padding: 1rem;
    }
}

@media(max-width:1180px){
    .my-project img{
        width: 90%;
    }

    .content img{
        width: 90%;
    }
}